<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Conclusiones y pasos a seguir
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Conclusiones y pasos a seguir</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card color="light">
    <img alt="mBridge" src="https://pbs.twimg.com/media/Ff-nIfFXgAcwk7P?format=jpg&name=small" />
    <ion-card-header>
      <ion-card-title>Conclusiones y pasos a seguir</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      El Proyecto mBridge ha demostrado que es factible crear una plataforma multi-CBDC personalizada para superar las limitaciones de los sistemas de pago transfronterizos actuales. 
      La plataforma permite a los participantes realizar pagos punto a punto directamente en moneda respaldada por el banco central en diferentes jurisdicciones. El piloto de mBridge y 
      el análisis asociado confirmaron que esta plataforma puede mejorar la eficiencia de los pagos transfronterizos, reducir riesgos de liquidación y facilitar el uso de monedas locales
       en pagos internacionales.<br/>

       La hoja de ruta futura incluye lograr interoperabilidad con sistemas de pago nacionales, integrar el descubrimiento y emparejamiento de precios de divisas en la plataforma, introducir 
       herramientas de gestión de liquidez, evaluar la participación de los bancos centrales en la provisión de liquidez, mejorar las herramientas de privacidad de datos.

    </ion-card-content>
  </ion-card>
  <iframe width="360" height="315" src="https://www.youtube.com/embed/sOCLyit2udw?si=tgAe3LOYlTfgOjTF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</ion-content>
